html, body {
	margin: 0;
	height: 100%;
}

body {
	background: linear-gradient(#EEEEFF 0%, #FFFFFF 100%);
	font-family: monospace;
	padding-left: 40px;
}
#life_canvas {
	display: block;
	float: left;
	padding-top: 1px;
	padding-left: 1px;
	margin-right: 25px;
	border: 3px solid #FFF;
	background: #FFF;
}

.button {
	display: inline-block;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #CCC;
	background: linear-gradient( #FFFFFF 0%, #FFEEFF 100%);
	cursor: pointer;
}

.button.active {
	background: linear-gradient(#fbefef 0%, #f3d1f3 100%);
}

.controls {
	margin-bottom: 30px;
}

.main_title {
	font-weight: normal;
	margin-bottom: 30px;
}

select, input {
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 3px;
	width: 190px;
}

#life_presets {
	margin-top: 15px;
	width: 198px;
}

#life_speed {
	width: 190px;
	float: left;
}